<div class="px-4 py-5 my-5 text-center new">
  <img
    class="d-block mx-auto mb-4 rounded-circle border border-dark border-2"
    src="../assets/images/jeeva.jpg"
    alt=""
    width="200"
  />
  <h1 class="display-5 fw-bold text-body-emphasis">Jeevanandhan J</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4" id="para">
      I am a Computer Science engineer with a passion for technology. I
      believe that hard work, combined with an unyielding desire to succeed,
      leads to success.I love learning new things and figuring out how to
      implement them into my work. I want to be part of the future of
      technology.
    </p>
    <a href="https://www.linkedin.com/in/jeevanandhan01"
      ><img src="../assets/images/linkedin.png" alt="linkedin"
    /></a>
    <a href="https://github.com/Jeevanandhan01"
      ><img src="../assets/images/github.png" alt="github"
    /></a>
    <a href="mailto:jeevanandhanofficial@gmail.com"
      ><img src="../assets/images/mail.png" alt="mail"
    /></a>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
  </div>
</div>
<div class="px-4 py-5 my-5 text-center new">
  <img
    class="d-block mx-auto mb-4 rounded-circle border border-dark border-2"
    src="../assets/images/kamal.jpg"
    alt=""
    width="200"
  />
  <h1 class="display-5 fw-bold text-body-emphasis">Kamalakannan N G</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4" id="para">
      Highly motivated CSE student with a strong passion for web development
      and has intermediate proficiency in Java , Python and C
    </p>
    <a href="https://www.linkedin.com/in/kamala-kannan-n-g-a95461249/"
      ><img src="../assets/images/linkedin.png" alt="linkedin"
    /></a>
    <a href="https://github.com/kamalakannanngk"
      ><img src="../assets/images/github.png" alt="github"
    /></a>
    <a href="mailto:2k21cse060@kiot.ac.in"
      ><img src="../assets/images/mail.png" alt="mail"
    /></a>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
  </div>
</div>
<div class="px-4 py-5 my-5 text-center new">
  <img
    class="d-block mx-auto mb-4 rounded-circle border border-dark border-2"
    src="../assets/images/karthi.jpg"
    alt=""
    width="200"
  />
  <h1 class="display-5 fw-bold text-body-emphasis">Karthik Siva S</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4" id="para">
      I am a Cyber Security enthusiast and Pro Hacker actively engaged on
      Hack The Box platform.My skillset includes CTF challenges, web design,
      and development using HTML, CSS, and Python, C/C++ (basic), Java
      (basic) programming.
    </p>
    <a href="https://www.linkedin.com/in/s-karthik-siva-62a26b230/"
      ><img src="../assets/images/linkedin.png" alt="linkedin"
    /></a>
    <a href="https://github.com/karthiksiva-s"
      ><img src="../assets/images/github.png" alt="github"
    /></a>
    <a href="mailto:2k21cse063@kiot.ac.in"
      ><img src="../assets/images/mail.png" alt="mail"
    /></a>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
  </div>
</div>
